name: Beginner CI 2
on:
  push:
    branches: [main]
jobs:
  build_and_test:
   runs-on: ubuntu-latest
   steps:
     - name: list current directory
       run: pwd
     - name: list all files
       run: ls -la
